<div class="row">
  <div class="medium-12 columns">
    <div class="panel callout radius">
      <h1>Welcome to collge admission site</h1>
      <% if !current_candidate.personal %>
        <a class="button expand" href="/personals/new"><%= fa_icon "user", text: "Personal Inforamtion" %></a>
      <% elsif current_candidate.personal && !current_candidate.qualifications.any? %>
        <a class="button expand" href="/qualifications"><%= fa_icon "graduation-cap", text: "Qualifications" %></a>
      <% elsif current_candidate.personal && current_candidate.qualifications.any? && !current_candidate.candidate_stream %>
        <a class="button expand" href="/candidate_streams/new"><%= fa_icon "check", text: "Stream Choose" %></a>
      <% else %>
        <a class="button expand" href="#"><%= fa_icon "print", text: "Print" %></a>
      <% end %>
    </div>
  </div>
</div>
