body {
  font-family: 'PT Sans', sans-serif;
}
label {
  text-transform: capitalize;
}
.alert-box{
  margin: 5px 10px;
}
footer {
  background-color: #333333;
  padding: 15px 0;
  color: #fff;
  a {
    color: #fff;
  }
}
