<div class="row">
  <div class="medium-10 medium-offset-1 columns">
    <%= simple_form_for @candidate_stream do |f|%>
      <%= f.association :stream, input_html: { class: 'stream'} %>
      <div class="form-container">
      </div>
      <div class="form-partial">
      </div>
      <%= f.button :submit, data: { confirm: "Are you sure form once submitted cannot be change ?"} %>
    <% end %>
  </div>
</div>
