<footer>
  <div class="row">
    <div class="medium-4 columns">
      &copy; Sourav Moitra
    </div>
    <div class="medium-4 columns">
      Site and Code GPL v3 License
    </div>
    <div class="medium-4 columns">
      <%= link_to "About", about_path %> | <%= link_to "Help", about_path %> | <%= link_to "Contact", about_path %> 
    </div>
  </div>
</footer>
